<settings>
    <group id="color_group" title="@Strings.color_group" description="@Strings.color_group_desc">

        <setting propertyKey="@Properties.theme_code" title="@Strings.theme_code">
            <settingConfig type="list">
                <listEntry value="18">@Strings.theme_custom</listEntry>
                <listEntry value="0">@Strings.theme_red</listEntry>
                <listEntry value="17">@Strings.theme_green</listEntry>
                <listEntry value="7">@Strings.theme_dark_blue</listEntry>
                <listEntry value="16">@Strings.theme_solar</listEntry>
                <listEntry value="13">@Strings.theme_dcontrast</listEntry>
                <listEntry value="14">@Strings.theme_lcontrast</listEntry>
                <listEntry value="2">@Strings.theme_night</listEntry>
                <listEntry value="15">@Strings.theme_camo</listEntry>
                <listEntry value="12">@Strings.theme_deep_ocean</listEntry>
                <listEntry value="4">@Strings.theme_radioactive</listEntry>
                <listEntry value="3">@Strings.theme_orange</listEntry>
                <listEntry value="11">@Strings.theme_pink</listEntry>
                <listEntry value="9">@Strings.theme_gray</listEntry>
                <listEntry value="10">@Strings.theme_lgray</listEntry>
                <listEntry value="8">@Strings.theme_light_blue</listEntry>
                <listEntry value="1">@Strings.theme_light</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.background_color" title="@Strings.background_color">
            <settingConfig type="list">
                <listEntry value="0">@Strings.black</listEntry>
                <listEntry value="16777215">@Strings.white</listEntry>
                <listEntry value="16711680">@Strings.red</listEntry>
                <listEntry value="5570560">@Strings.red_dark</listEntry>
                <listEntry value="16711765">@Strings.pink</listEntry>
                <listEntry value="11141375">@Strings.purple</listEntry>
                <listEntry value="65535">@Strings.cyan</listEntry>
                <listEntry value="255">@Strings.blue</listEntry>
                <listEntry value="43775">@Strings.blue_pale</listEntry>
                <listEntry value="170">@Strings.blue_soft</listEntry>
                <listEntry value="85">@Strings.blue_dark</listEntry>
                <listEntry value="5614080">@Strings.green</listEntry>
                <listEntry value="65280">@Strings.green_lime</listEntry>
                <listEntry value="21760">@Strings.green_dark</listEntry>
                <listEntry value="5592320">@Strings.green_olive</listEntry>
                <listEntry value="16776960">@Strings.yellow</listEntry>
                <listEntry value="16733440">@Strings.orange</listEntry>
                <listEntry value="11162880">@Strings.brown</listEntry>
                <listEntry value="11184810">@Strings.gray</listEntry>
                <listEntry value="5592405">@Strings.gray_dark</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.text_color" title="@Strings.text_color">
            <settingConfig type="list">
                <listEntry value="0">@Strings.black</listEntry>
                <listEntry value="16777215">@Strings.white</listEntry>
                <listEntry value="16711680">@Strings.red</listEntry>
                <listEntry value="5570560">@Strings.red_dark</listEntry>
                <listEntry value="16711765">@Strings.pink</listEntry>
                <listEntry value="11141375">@Strings.purple</listEntry>
                <listEntry value="65535">@Strings.cyan</listEntry>
                <listEntry value="255">@Strings.blue</listEntry>
                <listEntry value="43775">@Strings.blue_pale</listEntry>
                <listEntry value="170">@Strings.blue_soft</listEntry>
                <listEntry value="85">@Strings.blue_dark</listEntry>
                <listEntry value="5614080">@Strings.green</listEntry>
                <listEntry value="65280">@Strings.green_lime</listEntry>
                <listEntry value="21760">@Strings.green_dark</listEntry>
                <listEntry value="5592320">@Strings.green_olive</listEntry>
                <listEntry value="16776960">@Strings.yellow</listEntry>
                <listEntry value="16733440">@Strings.orange</listEntry>
                <listEntry value="11162880">@Strings.brown</listEntry>
                <listEntry value="11184810">@Strings.gray</listEntry>
                <listEntry value="5592405">@Strings.gray_dark</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.hour_color" title="@Strings.hour_color">
            <settingConfig type="list">
                <listEntry value="0">@Strings.black</listEntry>
                <listEntry value="16777215">@Strings.white</listEntry>
                <listEntry value="16711680">@Strings.red</listEntry>
                <listEntry value="5570560">@Strings.red_dark</listEntry>
                <listEntry value="16711765">@Strings.pink</listEntry>
                <listEntry value="11141375">@Strings.purple</listEntry>
                <listEntry value="65535">@Strings.cyan</listEntry>
                <listEntry value="255">@Strings.blue</listEntry>
                <listEntry value="43775">@Strings.blue_pale</listEntry>
                <listEntry value="170">@Strings.blue_soft</listEntry>
                <listEntry value="85">@Strings.blue_dark</listEntry>
                <listEntry value="5614080">@Strings.green</listEntry>
                <listEntry value="65280">@Strings.green_lime</listEntry>
                <listEntry value="21760">@Strings.green_dark</listEntry>
                <listEntry value="5592320">@Strings.green_olive</listEntry>
                <listEntry value="16776960">@Strings.yellow</listEntry>
                <listEntry value="16733440">@Strings.orange</listEntry>
                <listEntry value="11162880">@Strings.brown</listEntry>
                <listEntry value="11184810">@Strings.gray</listEntry>
                <listEntry value="5592405">@Strings.gray_dark</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.mins_color" title="@Strings.mins_color">
            <settingConfig type="list">
                <listEntry value="0">@Strings.black</listEntry>
                <listEntry value="16777215">@Strings.white</listEntry>
                <listEntry value="16711680">@Strings.red</listEntry>
                <listEntry value="5570560">@Strings.red_dark</listEntry>
                <listEntry value="16711765">@Strings.pink</listEntry>
                <listEntry value="11141375">@Strings.purple</listEntry>
                <listEntry value="65535">@Strings.cyan</listEntry>
                <listEntry value="255">@Strings.blue</listEntry>
                <listEntry value="43775">@Strings.blue_pale</listEntry>
                <listEntry value="170">@Strings.blue_soft</listEntry>
                <listEntry value="85">@Strings.blue_dark</listEntry>
                <listEntry value="5614080">@Strings.green</listEntry>
                <listEntry value="65280">@Strings.green_lime</listEntry>
                <listEntry value="21760">@Strings.green_dark</listEntry>
                <listEntry value="5592320">@Strings.green_olive</listEntry>
                <listEntry value="16776960">@Strings.yellow</listEntry>
                <listEntry value="16733440">@Strings.orange</listEntry>
                <listEntry value="11162880">@Strings.brown</listEntry>
                <listEntry value="11184810">@Strings.gray</listEntry>
                <listEntry value="5592405">@Strings.gray_dark</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.accent_color" title="@Strings.accent_color">
            <settingConfig type="list">
                <listEntry value="0">@Strings.black</listEntry>
                <listEntry value="16777215">@Strings.white</listEntry>
                <listEntry value="16711680">@Strings.red</listEntry>
                <listEntry value="5570560">@Strings.red_dark</listEntry>
                <listEntry value="16711765">@Strings.pink</listEntry>
                <listEntry value="11141375">@Strings.purple</listEntry>
                <listEntry value="65535">@Strings.cyan</listEntry>
                <listEntry value="255">@Strings.blue</listEntry>
                <listEntry value="43775">@Strings.blue_pale</listEntry>
                <listEntry value="170">@Strings.blue_soft</listEntry>
                <listEntry value="85">@Strings.blue_dark</listEntry>
                <listEntry value="5614080">@Strings.green</listEntry>
                <listEntry value="65280">@Strings.green_lime</listEntry>
                <listEntry value="21760">@Strings.green_dark</listEntry>
                <listEntry value="5592320">@Strings.green_olive</listEntry>
                <listEntry value="16776960">@Strings.yellow</listEntry>
                <listEntry value="16733440">@Strings.orange</listEntry>
                <listEntry value="11162880">@Strings.brown</listEntry>
                <listEntry value="11184810">@Strings.gray</listEntry>
                <listEntry value="5592405">@Strings.gray_dark</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.ticks_color" title="@Strings.ticks_color">
            <settingConfig type="list">
                <listEntry value="0">@Strings.black</listEntry>
                <listEntry value="16777215">@Strings.white</listEntry>
                <listEntry value="16711680">@Strings.red</listEntry>
                <listEntry value="5570560">@Strings.red_dark</listEntry>
                <listEntry value="16711765">@Strings.pink</listEntry>
                <listEntry value="11141375">@Strings.purple</listEntry>
                <listEntry value="65535">@Strings.cyan</listEntry>
                <listEntry value="255">@Strings.blue</listEntry>
                <listEntry value="43775">@Strings.blue_pale</listEntry>
                <listEntry value="170">@Strings.blue_soft</listEntry>
                <listEntry value="85">@Strings.blue_dark</listEntry>
                <listEntry value="5614080">@Strings.green</listEntry>
                <listEntry value="65280">@Strings.green_lime</listEntry>
                <listEntry value="21760">@Strings.green_dark</listEntry>
                <listEntry value="5592320">@Strings.green_olive</listEntry>
                <listEntry value="16776960">@Strings.yellow</listEntry>
                <listEntry value="16733440">@Strings.orange</listEntry>
                <listEntry value="11162880">@Strings.brown</listEntry>
                <listEntry value="11184810">@Strings.gray</listEntry>
                <listEntry value="5592405">@Strings.gray_dark</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.bar_indicator_color" title="@Strings.bar_indicator_color">
            <settingConfig type="list">
                <listEntry value="0">@Strings.black</listEntry>
                <listEntry value="16777215">@Strings.white</listEntry>
                <listEntry value="16711680">@Strings.red</listEntry>
                <listEntry value="5570560">@Strings.red_dark</listEntry>
                <listEntry value="16711765">@Strings.pink</listEntry>
                <listEntry value="11141375">@Strings.purple</listEntry>
                <listEntry value="65535">@Strings.cyan</listEntry>
                <listEntry value="255">@Strings.blue</listEntry>
                <listEntry value="43775">@Strings.blue_pale</listEntry>
                <listEntry value="170">@Strings.blue_soft</listEntry>
                <listEntry value="85">@Strings.blue_dark</listEntry>
                <listEntry value="5614080">@Strings.green</listEntry>
                <listEntry value="65280">@Strings.green_lime</listEntry>
                <listEntry value="21760">@Strings.green_dark</listEntry>
                <listEntry value="5592320">@Strings.green_olive</listEntry>
                <listEntry value="16776960">@Strings.yellow</listEntry>
                <listEntry value="16733440">@Strings.orange</listEntry>
                <listEntry value="11162880">@Strings.brown</listEntry>
                <listEntry value="11184810">@Strings.gray</listEntry>
                <listEntry value="5592405">@Strings.gray_dark</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.bar_background_color" title="@Strings.bar_background_color">
            <settingConfig type="list">
                <listEntry value="0">@Strings.black</listEntry>
                <listEntry value="16777215">@Strings.white</listEntry>
                <listEntry value="16711680">@Strings.red</listEntry>
                <listEntry value="5570560">@Strings.red_dark</listEntry>
                <listEntry value="16711765">@Strings.pink</listEntry>
                <listEntry value="11141375">@Strings.purple</listEntry>
                <listEntry value="65535">@Strings.cyan</listEntry>
                <listEntry value="255">@Strings.blue</listEntry>
                <listEntry value="43775">@Strings.blue_pale</listEntry>
                <listEntry value="170">@Strings.blue_soft</listEntry>
                <listEntry value="85">@Strings.blue_dark</listEntry>
                <listEntry value="5614080">@Strings.green</listEntry>
                <listEntry value="65280">@Strings.green_lime</listEntry>
                <listEntry value="21760">@Strings.green_dark</listEntry>
                <listEntry value="5592320">@Strings.green_olive</listEntry>
                <listEntry value="16776960">@Strings.yellow</listEntry>
                <listEntry value="16733440">@Strings.orange</listEntry>
                <listEntry value="11162880">@Strings.brown</listEntry>
                <listEntry value="11184810">@Strings.gray</listEntry>
                <listEntry value="5592405">@Strings.gray_dark</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.bar_graph_color_top" title="@Strings.bar_graph_color_top">
            <settingConfig type="list">
                <listEntry value="0">@Strings.black</listEntry>
                <listEntry value="16777215">@Strings.white</listEntry>
                <listEntry value="16711680">@Strings.red</listEntry>
                <listEntry value="5570560">@Strings.red_dark</listEntry>
                <listEntry value="16711765">@Strings.pink</listEntry>
                <listEntry value="11141375">@Strings.purple</listEntry>
                <listEntry value="65535">@Strings.cyan</listEntry>
                <listEntry value="255">@Strings.blue</listEntry>
                <listEntry value="43775">@Strings.blue_pale</listEntry>
                <listEntry value="170">@Strings.blue_soft</listEntry>
                <listEntry value="85">@Strings.blue_dark</listEntry>
                <listEntry value="5614080">@Strings.green</listEntry>
                <listEntry value="65280">@Strings.green_lime</listEntry>
                <listEntry value="21760">@Strings.green_dark</listEntry>
                <listEntry value="5592320">@Strings.green_olive</listEntry>
                <listEntry value="16776960">@Strings.yellow</listEntry>
                <listEntry value="16733440">@Strings.orange</listEntry>
                <listEntry value="11162880">@Strings.brown</listEntry>
                <listEntry value="11184810">@Strings.gray</listEntry>
                <listEntry value="5592405">@Strings.gray_dark</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.bar_graph_color_bottom" title="@Strings.bar_graph_color_bottom">
            <settingConfig type="list">
                <listEntry value="0">@Strings.black</listEntry>
                <listEntry value="16777215">@Strings.white</listEntry>
                <listEntry value="16711680">@Strings.red</listEntry>
                <listEntry value="5570560">@Strings.red_dark</listEntry>
                <listEntry value="16711765">@Strings.pink</listEntry>
                <listEntry value="11141375">@Strings.purple</listEntry>
                <listEntry value="65535">@Strings.cyan</listEntry>
                <listEntry value="255">@Strings.blue</listEntry>
                <listEntry value="43775">@Strings.blue_pale</listEntry>
                <listEntry value="170">@Strings.blue_soft</listEntry>
                <listEntry value="85">@Strings.blue_dark</listEntry>
                <listEntry value="5614080">@Strings.green</listEntry>
                <listEntry value="65280">@Strings.green_lime</listEntry>
                <listEntry value="21760">@Strings.green_dark</listEntry>
                <listEntry value="5592320">@Strings.green_olive</listEntry>
                <listEntry value="16776960">@Strings.yellow</listEntry>
                <listEntry value="16733440">@Strings.orange</listEntry>
                <listEntry value="11162880">@Strings.brown</listEntry>
                <listEntry value="11184810">@Strings.gray</listEntry>
                <listEntry value="5592405">@Strings.gray_dark</listEntry>
            </settingConfig>
        </setting>
    </group>

    <group id="clock_group" title="@Strings.clock_group" description="@Strings.clock_group_desc">
        <setting propertyKey="@Properties.use_analog" title="@Strings.use_analog">
            <settingConfig type="boolean" />
        </setting>

        <setting propertyKey="@Properties.digital_style" title="@Strings.digital_style">
            <settingConfig type="list">
                <listEntry value="2">@Strings.digital_style_xbig</listEntry>
                <listEntry value="0">@Strings.digital_style_big</listEntry>
                <listEntry value="3">@Strings.digital_style_medium</listEntry>
                <listEntry value="1">@Strings.digital_style_small</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.big_number_type" title="@Strings.big_number_type">
            <settingConfig type="list">
                <listEntry value="0">@Strings.minute_major</listEntry>
                <listEntry value="1">@Strings.hour_major</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.ticks_style" title="@Strings.ticks_style">
            <settingConfig type="list">
                <listEntry value="0">@Strings.empty</listEntry>
                <listEntry value="1">@Strings.ticks_style_arc</listEntry>
                <listEntry value="2">@Strings.ticks_style_marks</listEntry>
                <listEntry value="3">@Strings.ticks_style_marks_top_gap</listEntry>
                <listEntry value="4">@Strings.ticks_style_marks_bottom_gap</listEntry>
                <listEntry value="5">@Strings.ticks_style_marks_top_bottom_gap</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.big_num_stripes" title="@Strings.big_num_stripes">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.left_digital_info" title="@Strings.left_digital_info">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.zero_leading_digital" title="@Strings.zero_leading_digital">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.always_on_second" title="@Strings.always_on_second">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.always_on_heart" title="@Strings.always_on_heart">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.always_on_style" title="@Strings.always_on_style">
            <settingConfig type="list">
                <listEntry value="1">@Strings.digital_style_medium</listEntry>
                <listEntry value="0">@Strings.digital_style_small</listEntry>
            </settingConfig>
        </setting>
    </group>

    <!-- Data Group moved to resource-feat-* for build-time customization -->

    <!-- Format Group moved to resource-settings for build-time ordering -->

    <!-- Custom Group moved to resource-settings for build-time ordering -->

    <!-- Advance Group removed -->

</settings>