<settings>

    <group id="data_group" title="@Strings.data_group" description="@Strings.data_group_desc">
        <setting propertyKey="@Properties.comp12h" title="@Strings.comp12h">
            <settingConfig type="list">
                <listEntry value="9">@Strings.empty</listEntry>
                <listEntry value="6">@Strings.active</listEntry>            <!-- Active Minutes -->
                <listEntry value="36">@Strings.moderate</listEntry>
                <listEntry value="37">@Strings.vigorous</listEntry>
                <listEntry value="38">@Strings.airquality</listEntry>       <!-- Air -->
                <listEntry value="18">@Strings.barometer</listEntry>
                <listEntry value="1">@Strings.battery</listEntry>
                <listEntry value="40">@Strings.caloriesact</listEntry>
                <listEntry value="2">@Strings.calories</listEntry>
                <listEntry value="21">@Strings.countdown</listEntry>        <!-- Custom -->
                <listEntry value="27">@Strings.ctext</listEntry>
                <listEntry value="7">@Strings.date</listEntry>              <!-- Date -->
                <listEntry value="22">@Strings.dateweek</listEntry>
                <listEntry value="3">@Strings.distance</listEntry>
                <listEntry value="17">@Strings.distanceweek</listEntry>
                <listEntry value="12">@Strings.altitude</listEntry>
                <listEntry value="15">@Strings.floorclimbed</listEntry>
                <listEntry value="0">@Strings.heartrate</listEntry>
                <!-- no bodybattery -->      <!-- Health Metrics -->
                <listEntry value="30">@Strings.stress</listEntry>
                <!-- no bodybatterystress -->
                <listEntry value="39">@Strings.timetorecovery</listEntry>
                <listEntry value="4">@Strings.movebar</listEntry>
                <listEntry value="16">@Strings.groupnoti</listEntry>        <!-- Phone -->
                <listEntry value="11">@Strings.alarm</listEntry>
                <listEntry value="20">@Strings.phonestatus</listEntry>
                <listEntry value="10">@Strings.notification</listEntry>
                <listEntry value="5">@Strings.steps</listEntry>
                <listEntry value="13">@Strings.temperature</listEntry>      <!-- Temperature -->
                <listEntry value="32">@Strings.temperature_garmin</listEntry>
                <listEntry value="23">@Strings.temperature_out</listEntry>
                <listEntry value="24">@Strings.temperature_hl</listEntry>
                <listEntry value="35">@Strings.temperature_hl_garmin</listEntry>
                <listEntry value="33">@Strings.precipitation_garmin</listEntry>
                <listEntry value="8">@Strings.time</listEntry>              <!-- Time -->
                <listEntry value="26">@Strings.ampm</listEntry>
                <listEntry value="19">@Strings.time_secondary</listEntry>
                <listEntry value="14">@Strings.sunriseset</listEntry>
                <listEntry value="25">@Strings.weather</listEntry>          <!-- Weather -->
                <listEntry value="34">@Strings.weather_garmin</listEntry>
                <listEntry value="28">@Strings.wind</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.comp2h" title="@Strings.comp2h">
            <settingConfig type="list">
                <listEntry value="9">@Strings.empty</listEntry>
                <listEntry value="6">@Strings.active</listEntry>            <!-- Active Minutes -->
                <listEntry value="36">@Strings.moderate</listEntry>
                <listEntry value="37">@Strings.vigorous</listEntry>
                <listEntry value="38">@Strings.airquality</listEntry>       <!-- Air -->
                <listEntry value="18">@Strings.barometer</listEntry>
                <listEntry value="1">@Strings.battery</listEntry>
                <listEntry value="40">@Strings.caloriesact</listEntry>
                <listEntry value="2">@Strings.calories</listEntry>
                <listEntry value="21">@Strings.countdown</listEntry>        <!-- Custom -->
                <listEntry value="27">@Strings.ctext</listEntry>
                <listEntry value="7">@Strings.date</listEntry>              <!-- Date -->
                <listEntry value="22">@Strings.dateweek</listEntry>
                <listEntry value="3">@Strings.distance</listEntry>
                <listEntry value="17">@Strings.distanceweek</listEntry>
                <listEntry value="12">@Strings.altitude</listEntry>
                <listEntry value="15">@Strings.floorclimbed</listEntry>
                <listEntry value="0">@Strings.heartrate</listEntry>
                <!-- no bodybattery -->      <!-- Health Metrics -->
                <listEntry value="30">@Strings.stress</listEntry>
                <!-- no bodybatterystress -->
                <listEntry value="39">@Strings.timetorecovery</listEntry>
                <listEntry value="4">@Strings.movebar</listEntry>
                <listEntry value="16">@Strings.groupnoti</listEntry>        <!-- Phone -->
                <listEntry value="11">@Strings.alarm</listEntry>
                <listEntry value="20">@Strings.phonestatus</listEntry>
                <listEntry value="10">@Strings.notification</listEntry>
                <listEntry value="5">@Strings.steps</listEntry>
                <listEntry value="13">@Strings.temperature</listEntry>      <!-- Temperature -->
                <listEntry value="32">@Strings.temperature_garmin</listEntry>
                <listEntry value="23">@Strings.temperature_out</listEntry>
                <listEntry value="24">@Strings.temperature_hl</listEntry>
                <listEntry value="35">@Strings.temperature_hl_garmin</listEntry>
                <listEntry value="33">@Strings.precipitation_garmin</listEntry>
                <listEntry value="8">@Strings.time</listEntry>              <!-- Time -->
                <listEntry value="26">@Strings.ampm</listEntry>
                <listEntry value="19">@Strings.time_secondary</listEntry>
                <listEntry value="14">@Strings.sunriseset</listEntry>
                <listEntry value="25">@Strings.weather</listEntry>          <!-- Weather -->
                <listEntry value="34">@Strings.weather_garmin</listEntry>
                <listEntry value="28">@Strings.wind</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.comp4h" title="@Strings.comp4h">
            <settingConfig type="list">
                <listEntry value="9">@Strings.empty</listEntry>
                <listEntry value="6">@Strings.active</listEntry>            <!-- Active Minutes -->
                <listEntry value="36">@Strings.moderate</listEntry>
                <listEntry value="37">@Strings.vigorous</listEntry>
                <listEntry value="38">@Strings.airquality</listEntry>       <!-- Air -->
                <listEntry value="18">@Strings.barometer</listEntry>
                <listEntry value="1">@Strings.battery</listEntry>
                <listEntry value="40">@Strings.caloriesact</listEntry>
                <listEntry value="2">@Strings.calories</listEntry>
                <listEntry value="21">@Strings.countdown</listEntry>        <!-- Custom -->
                <listEntry value="27">@Strings.ctext</listEntry>
                <listEntry value="7">@Strings.date</listEntry>              <!-- Date -->
                <listEntry value="22">@Strings.dateweek</listEntry>
                <listEntry value="3">@Strings.distance</listEntry>
                <listEntry value="17">@Strings.distanceweek</listEntry>
                <listEntry value="12">@Strings.altitude</listEntry>
                <listEntry value="15">@Strings.floorclimbed</listEntry>
                <listEntry value="0">@Strings.heartrate</listEntry>
                <!-- no bodybattery -->      <!-- Health Metrics -->
                <listEntry value="30">@Strings.stress</listEntry>
                <!-- no bodybatterystress -->
                <listEntry value="39">@Strings.timetorecovery</listEntry>
                <listEntry value="4">@Strings.movebar</listEntry>
                <listEntry value="16">@Strings.groupnoti</listEntry>        <!-- Phone -->
                <listEntry value="11">@Strings.alarm</listEntry>
                <listEntry value="20">@Strings.phonestatus</listEntry>
                <listEntry value="10">@Strings.notification</listEntry>
                <listEntry value="5">@Strings.steps</listEntry>
                <listEntry value="13">@Strings.temperature</listEntry>      <!-- Temperature -->
                <listEntry value="32">@Strings.temperature_garmin</listEntry>
                <listEntry value="23">@Strings.temperature_out</listEntry>
                <listEntry value="24">@Strings.temperature_hl</listEntry>
                <listEntry value="35">@Strings.temperature_hl_garmin</listEntry>
                <listEntry value="33">@Strings.precipitation_garmin</listEntry>
                <listEntry value="8">@Strings.time</listEntry>              <!-- Time -->
                <listEntry value="26">@Strings.ampm</listEntry>
                <listEntry value="19">@Strings.time_secondary</listEntry>
                <listEntry value="14">@Strings.sunriseset</listEntry>
                <listEntry value="25">@Strings.weather</listEntry>          <!-- Weather -->
                <listEntry value="34">@Strings.weather_garmin</listEntry>
                <listEntry value="28">@Strings.wind</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.comp6h" title="@Strings.comp6h">
            <settingConfig type="list">
                <listEntry value="9">@Strings.empty</listEntry>
                <listEntry value="6">@Strings.active</listEntry>            <!-- Active Minutes -->
                <listEntry value="36">@Strings.moderate</listEntry>
                <listEntry value="37">@Strings.vigorous</listEntry>
                <listEntry value="38">@Strings.airquality</listEntry>       <!-- Air -->
                <listEntry value="18">@Strings.barometer</listEntry>
                <listEntry value="1">@Strings.battery</listEntry>
                <listEntry value="40">@Strings.caloriesact</listEntry>
                <listEntry value="2">@Strings.calories</listEntry>
                <listEntry value="21">@Strings.countdown</listEntry>        <!-- Custom -->
                <listEntry value="27">@Strings.ctext</listEntry>
                <listEntry value="7">@Strings.date</listEntry>              <!-- Date -->
                <listEntry value="22">@Strings.dateweek</listEntry>
                <listEntry value="3">@Strings.distance</listEntry>
                <listEntry value="17">@Strings.distanceweek</listEntry>
                <listEntry value="12">@Strings.altitude</listEntry>
                <listEntry value="15">@Strings.floorclimbed</listEntry>
                <listEntry value="0">@Strings.heartrate</listEntry>
                <!-- no bodybattery -->      <!-- Health Metrics -->
                <listEntry value="30">@Strings.stress</listEntry>
                <!-- no bodybatterystress -->
                <listEntry value="39">@Strings.timetorecovery</listEntry>
                <listEntry value="4">@Strings.movebar</listEntry>
                <listEntry value="16">@Strings.groupnoti</listEntry>        <!-- Phone -->
                <listEntry value="11">@Strings.alarm</listEntry>
                <listEntry value="20">@Strings.phonestatus</listEntry>
                <listEntry value="10">@Strings.notification</listEntry>
                <listEntry value="5">@Strings.steps</listEntry>
                <listEntry value="13">@Strings.temperature</listEntry>      <!-- Temperature -->
                <listEntry value="32">@Strings.temperature_garmin</listEntry>
                <listEntry value="23">@Strings.temperature_out</listEntry>
                <listEntry value="24">@Strings.temperature_hl</listEntry>
                <listEntry value="35">@Strings.temperature_hl_garmin</listEntry>
                <listEntry value="33">@Strings.precipitation_garmin</listEntry>
                <listEntry value="8">@Strings.time</listEntry>              <!-- Time -->
                <listEntry value="26">@Strings.ampm</listEntry>
                <listEntry value="19">@Strings.time_secondary</listEntry>
                <listEntry value="14">@Strings.sunriseset</listEntry>
                <listEntry value="25">@Strings.weather</listEntry>          <!-- Weather -->
                <listEntry value="34">@Strings.weather_garmin</listEntry>
                <listEntry value="28">@Strings.wind</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.comp8h" title="@Strings.comp8h">
            <settingConfig type="list">
                <listEntry value="9">@Strings.empty</listEntry>
                <listEntry value="6">@Strings.active</listEntry>            <!-- Active Minutes -->
                <listEntry value="36">@Strings.moderate</listEntry>
                <listEntry value="37">@Strings.vigorous</listEntry>
                <listEntry value="38">@Strings.airquality</listEntry>       <!-- Air -->
                <listEntry value="18">@Strings.barometer</listEntry>
                <listEntry value="1">@Strings.battery</listEntry>
                <listEntry value="40">@Strings.caloriesact</listEntry>
                <listEntry value="2">@Strings.calories</listEntry>
                <listEntry value="21">@Strings.countdown</listEntry>        <!-- Custom -->
                <listEntry value="27">@Strings.ctext</listEntry>
                <listEntry value="7">@Strings.date</listEntry>              <!-- Date -->
                <listEntry value="22">@Strings.dateweek</listEntry>
                <listEntry value="3">@Strings.distance</listEntry>
                <listEntry value="17">@Strings.distanceweek</listEntry>
                <listEntry value="12">@Strings.altitude</listEntry>
                <listEntry value="15">@Strings.floorclimbed</listEntry>
                <listEntry value="0">@Strings.heartrate</listEntry>
                <!-- no bodybattery -->      <!-- Health Metrics -->
                <listEntry value="30">@Strings.stress</listEntry>
                <!-- no bodybatterystress -->
                <listEntry value="39">@Strings.timetorecovery</listEntry>
                <listEntry value="4">@Strings.movebar</listEntry>
                <listEntry value="16">@Strings.groupnoti</listEntry>        <!-- Phone -->
                <listEntry value="11">@Strings.alarm</listEntry>
                <listEntry value="20">@Strings.phonestatus</listEntry>
                <listEntry value="10">@Strings.notification</listEntry>
                <listEntry value="5">@Strings.steps</listEntry>
                <listEntry value="13">@Strings.temperature</listEntry>      <!-- Temperature -->
                <listEntry value="32">@Strings.temperature_garmin</listEntry>
                <listEntry value="23">@Strings.temperature_out</listEntry>
                <listEntry value="24">@Strings.temperature_hl</listEntry>
                <listEntry value="35">@Strings.temperature_hl_garmin</listEntry>
                <listEntry value="33">@Strings.precipitation_garmin</listEntry>
                <listEntry value="8">@Strings.time</listEntry>              <!-- Time -->
                <listEntry value="26">@Strings.ampm</listEntry>
                <listEntry value="19">@Strings.time_secondary</listEntry>
                <listEntry value="14">@Strings.sunriseset</listEntry>
                <listEntry value="25">@Strings.weather</listEntry>          <!-- Weather -->
                <listEntry value="34">@Strings.weather_garmin</listEntry>
                <listEntry value="28">@Strings.wind</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.comp10h" title="@Strings.comp10h">
            <settingConfig type="list">
                <listEntry value="9">@Strings.empty</listEntry>
                <listEntry value="6">@Strings.active</listEntry>            <!-- Active Minutes -->
                <listEntry value="36">@Strings.moderate</listEntry>
                <listEntry value="37">@Strings.vigorous</listEntry>
                <listEntry value="38">@Strings.airquality</listEntry>       <!-- Air -->
                <listEntry value="18">@Strings.barometer</listEntry>
                <listEntry value="1">@Strings.battery</listEntry>
                <listEntry value="40">@Strings.caloriesact</listEntry>
                <listEntry value="2">@Strings.calories</listEntry>
                <listEntry value="21">@Strings.countdown</listEntry>        <!-- Custom -->
                <listEntry value="27">@Strings.ctext</listEntry>
                <listEntry value="7">@Strings.date</listEntry>              <!-- Date -->
                <listEntry value="22">@Strings.dateweek</listEntry>
                <listEntry value="3">@Strings.distance</listEntry>
                <listEntry value="17">@Strings.distanceweek</listEntry>
                <listEntry value="12">@Strings.altitude</listEntry>
                <listEntry value="15">@Strings.floorclimbed</listEntry>
                <listEntry value="0">@Strings.heartrate</listEntry>
                <!-- no bodybattery -->      <!-- Health Metrics -->
                <listEntry value="30">@Strings.stress</listEntry>
                <!-- no bodybatterystress -->
                <listEntry value="39">@Strings.timetorecovery</listEntry>
                <listEntry value="4">@Strings.movebar</listEntry>
                <listEntry value="16">@Strings.groupnoti</listEntry>        <!-- Phone -->
                <listEntry value="11">@Strings.alarm</listEntry>
                <listEntry value="20">@Strings.phonestatus</listEntry>
                <listEntry value="10">@Strings.notification</listEntry>
                <listEntry value="5">@Strings.steps</listEntry>
                <listEntry value="13">@Strings.temperature</listEntry>      <!-- Temperature -->
                <listEntry value="32">@Strings.temperature_garmin</listEntry>
                <listEntry value="23">@Strings.temperature_out</listEntry>
                <listEntry value="24">@Strings.temperature_hl</listEntry>
                <listEntry value="35">@Strings.temperature_hl_garmin</listEntry>
                <listEntry value="33">@Strings.precipitation_garmin</listEntry>
                <listEntry value="8">@Strings.time</listEntry>              <!-- Time -->
                <listEntry value="26">@Strings.ampm</listEntry>
                <listEntry value="19">@Strings.time_secondary</listEntry>
                <listEntry value="14">@Strings.sunriseset</listEntry>
                <listEntry value="25">@Strings.weather</listEntry>          <!-- Weather -->
                <listEntry value="34">@Strings.weather_garmin</listEntry>
                <listEntry value="28">@Strings.wind</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.compbart" title="@Strings.compbart">
            <settingConfig type="list">
                <listEntry value="9">@Strings.empty</listEntry>
                <listEntry value="6">@Strings.active</listEntry>            <!-- Active Minutes -->
                <listEntry value="36">@Strings.moderate</listEntry>
                <listEntry value="37">@Strings.vigorous</listEntry>
                <listEntry value="38">@Strings.airquality</listEntry>       <!-- Air -->
                <listEntry value="18">@Strings.barometer</listEntry>
                <listEntry value="1">@Strings.battery</listEntry>
                <listEntry value="40">@Strings.caloriesact</listEntry>
                <listEntry value="2">@Strings.calories</listEntry>
                <listEntry value="21">@Strings.countdown</listEntry>        <!-- Custom -->
                <listEntry value="27">@Strings.ctext</listEntry>
                <listEntry value="7">@Strings.date</listEntry>              <!-- Date -->
                <listEntry value="22">@Strings.dateweek</listEntry>
                <listEntry value="3">@Strings.distance</listEntry>
                <listEntry value="17">@Strings.distanceweek</listEntry>
                <listEntry value="12">@Strings.altitude</listEntry>
                <listEntry value="15">@Strings.floorclimbed</listEntry>
                <listEntry value="0">@Strings.heartrate</listEntry>
                <!-- no bodybattery -->      <!-- Health Metrics -->
                <listEntry value="30">@Strings.stress</listEntry>
                <!-- no bodybatterystress -->
                <listEntry value="39">@Strings.timetorecovery</listEntry>
                <listEntry value="4">@Strings.movebar</listEntry>
                <listEntry value="16">@Strings.groupnoti</listEntry>        <!-- Phone -->
                <listEntry value="11">@Strings.alarm</listEntry>
                <listEntry value="20">@Strings.phonestatus</listEntry>
                <listEntry value="10">@Strings.notification</listEntry>
                <listEntry value="5">@Strings.steps</listEntry>
                <listEntry value="13">@Strings.temperature</listEntry>      <!-- Temperature -->
                <listEntry value="32">@Strings.temperature_garmin</listEntry>
                <listEntry value="23">@Strings.temperature_out</listEntry>
                <listEntry value="24">@Strings.temperature_hl</listEntry>
                <listEntry value="35">@Strings.temperature_hl_garmin</listEntry>
                <listEntry value="33">@Strings.precipitation_garmin</listEntry>
                <listEntry value="8">@Strings.time</listEntry>              <!-- Time -->
                <listEntry value="26">@Strings.ampm</listEntry>
                <listEntry value="19">@Strings.time_secondary</listEntry>
                <listEntry value="14">@Strings.sunriseset</listEntry>
                <listEntry value="25">@Strings.weather</listEntry>          <!-- Weather -->
                <listEntry value="34">@Strings.weather_garmin</listEntry>
                <listEntry value="28">@Strings.wind</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.compbarb" title="@Strings.compbarb">
            <settingConfig type="list">
                <listEntry value="9">@Strings.empty</listEntry>
                <listEntry value="6">@Strings.active</listEntry>            <!-- Active Minutes -->
                <listEntry value="36">@Strings.moderate</listEntry>
                <listEntry value="37">@Strings.vigorous</listEntry>
                <listEntry value="38">@Strings.airquality</listEntry>       <!-- Air -->
                <listEntry value="18">@Strings.barometer</listEntry>
                <listEntry value="1">@Strings.battery</listEntry>
                <listEntry value="40">@Strings.caloriesact</listEntry>
                <listEntry value="2">@Strings.calories</listEntry>
                <listEntry value="21">@Strings.countdown</listEntry>        <!-- Custom -->
                <listEntry value="27">@Strings.ctext</listEntry>
                <listEntry value="7">@Strings.date</listEntry>              <!-- Date -->
                <listEntry value="22">@Strings.dateweek</listEntry>
                <listEntry value="3">@Strings.distance</listEntry>
                <listEntry value="17">@Strings.distanceweek</listEntry>
                <listEntry value="12">@Strings.altitude</listEntry>
                <listEntry value="15">@Strings.floorclimbed</listEntry>
                <listEntry value="0">@Strings.heartrate</listEntry>
                <!-- no bodybattery -->      <!-- Health Metrics -->
                <listEntry value="30">@Strings.stress</listEntry>
                <!-- no bodybatterystress -->
                <listEntry value="39">@Strings.timetorecovery</listEntry>
                <listEntry value="4">@Strings.movebar</listEntry>
                <listEntry value="16">@Strings.groupnoti</listEntry>        <!-- Phone -->
                <listEntry value="11">@Strings.alarm</listEntry>
                <listEntry value="20">@Strings.phonestatus</listEntry>
                <listEntry value="10">@Strings.notification</listEntry>
                <listEntry value="5">@Strings.steps</listEntry>
                <listEntry value="13">@Strings.temperature</listEntry>      <!-- Temperature -->
                <listEntry value="32">@Strings.temperature_garmin</listEntry>
                <listEntry value="23">@Strings.temperature_out</listEntry>
                <listEntry value="24">@Strings.temperature_hl</listEntry>
                <listEntry value="35">@Strings.temperature_hl_garmin</listEntry>
                <listEntry value="33">@Strings.precipitation_garmin</listEntry>
                <listEntry value="8">@Strings.time</listEntry>              <!-- Time -->
                <listEntry value="26">@Strings.ampm</listEntry>
                <listEntry value="19">@Strings.time_secondary</listEntry>
                <listEntry value="14">@Strings.sunriseset</listEntry>
                <listEntry value="25">@Strings.weather</listEntry>          <!-- Weather -->
                <listEntry value="34">@Strings.weather_garmin</listEntry>
                <listEntry value="28">@Strings.wind</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.compgrapht" title="@Strings.compgrapht">
            <settingConfig type="list">
                <listEntry value="0">@Strings.empty</listEntry>
                <listEntry value="3">@Strings.barometer</listEntry>
                <listEntry value="2">@Strings.altitude</listEntry>
                <listEntry value="5">@Strings.bodybattery</listEntry>
                <listEntry value="6">@Strings.stress</listEntry>
                <listEntry value="1">@Strings.heartrate</listEntry>
                <listEntry value="4">@Strings.temperature</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.compgraphb" title="@Strings.compgraphb">
            <settingConfig type="list">
                <listEntry value="0">@Strings.empty</listEntry>
                <listEntry value="3">@Strings.barometer</listEntry>
                <listEntry value="2">@Strings.altitude</listEntry>
                <listEntry value="5">@Strings.bodybattery</listEntry>
                <listEntry value="6">@Strings.stress</listEntry>
                <listEntry value="1">@Strings.heartrate</listEntry>
                <listEntry value="4">@Strings.temperature</listEntry>
            </settingConfig>
        </setting>
    </group>

</settings>
